<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="ui segment container">
    <h1>Add a Task</h1>
    <form method="post" action="/tasks">
      <label>Title</label>
      <input name="title" type="text">
      <br>
      <label>Description</label>
      <br>
      <textarea name="description" id="" cols="30" rows="10"></textarea>
      <br>
      <input type="submit" value="Add">
    </form>
  </div>
</body>
</html>